@{
    ViewData["title"] = "Forgot Password";
}



<style>


.forgot_pass{
      @* border: 1px solid black; *@
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.144);
}


</style>



<div class="forgot_pass w-50 mt-5 mx-auto">

    <h3 class="text-center"> Forgot pass</h1>

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="Email">

             <div  class="form-text mt-3">
            kindly paste ur Email Id we will be sending you an Password reset link  shortly !
        </div>
        </div>

     

        <button type="submit" class="btn btn-secondary  mt-3 "> Send Link to mail </button>

            

    </form>

</div>