@* @model P1WebMVC.Models.User *@

@model dynamic
@{
    ViewData["title"] = "update passsword";
}


<style>

.update_password{
   padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.144);


}


</style>






<div class="update_password w-50 mt-5 mx-auto ">

<form method="post" asp-controller="User" asp-action="UpdatePassword"  asp-route-userId = "@Model.userId" >



<h2 class="text-center"> Update your password </h2>
 
    <div class="mb-3">

        <label  class="form-label">Password</label>
        <input type="password"  class="form-control" aria-describedby="passwordHelpBlock" placeholder="*********" name="Password">
        <div  class="form-text mt-3">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special characters, or emoji.
        </div>

    </div>



    <div class="mb-3">
        <label  class="form-label">Confirm Password</label>
        <input type="password"  class="form-control" aria-describedby="passwordHelpBlock" placeholder="*********" name="ConfirmPassword">
    </div>



      <button type="submit" class="btn btn-secondary  mt-3 ">  Update Password </button>

</form>



</div>


